
  .card-border {
    height: 60px;
    width: 40%;
    border-top: 5px solid  #7494EC;
    margin-bottom: 10px;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  