.count {
    background-color: rgba(27, 42, 73,0.9);
    /*background-image: url("../../assets/pradeepStarInn/starinn-23.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    padding: 100px;
    margin-top: 200px;
    display: flex;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}